<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>Servlet_100_AuthenticationFilter_POC_11</display-name>


	<servlet>
		<servlet-name>MyServlet</servlet-name>
		<servlet-class>com.satya.MyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MyServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>Auth</filter-name>
		<filter-class>com.satya.AuthenticationFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>Auth</filter-name>
		<url-pattern>/login</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>logging</filter-name>
		<filter-class>com.satya.RequestLoggingFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>logging</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>